@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto&display=swap");
.navbar {
  margin: 0;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navbar ul {
    display: flex;
    align-items: center; }
    .navbar ul li {
      list-style: none; }
      .navbar ul li a {
        color: black; }
        .navbar ul li a:hover {
          font-size: 1.2rem; }
      .navbar ul li ul {
        display: none; }
        .navbar ul li ul li a:hover {
          color: purple;
          font-size: 1.1rem;
          padding-top: 2px; }

main {
  background-color: #BC2742; }

h1, h2, h3 {
  color: white; }

section ul li {
  list-style: none; }
  section ul li img {
    max-height: 40px;
    max-width: 40px; }
    section ul li img:hover {
      transform: scale(1.8);
      transition: 2s; }

section div ul li button:hover {
  font-size: 1.02rem; }

footer {
  background-color: #BC2742; }
  footer div a img {
    max-height: 40px;
    max-width: 40px; }
