//definimos variables


// background color 
$bgIndex: #BC2742;
$bgPatrocinadores: slategrey;
$bgEntrenamiento: #403526;
$bgNovedades: #BC2742;
$bgContacto: #400918;
$bgCarreras: white;


// Colores de Texto

$mainColor: white;
$secondaryColor: black;
$keyColor: purple;


//sizing
$w-100:100%;
$w-50:50%;
$w-25:25%;

// imagenes

$imagenes: 40px;