@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto&display=swap');

$fontMain: 'Roboto', sans-serif;
$fontSecondary: 'Montserrat', sans-serif;

//variables para los textos
$textXl: 4em;
$textLg: 3em;
$textMd: 2em;
$textSm: 1em;

$d-flex: flex;
