.navbar{
	
	// padding: 5px 10px;
	margin: 0;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	ul{
		display: flex;
		align-items: center;

		li{list-style: none;


			a{
				color: $secondaryColor;
				&:hover{
					font-size: 1.2rem;
				}

			}

				ul{
					display: none;

					li a{
						&:hover{
						color: $keyColor;
						font-size: 1.1rem;
						padding-top: 2px;
					}	

					
				}
				}
			}

		
}
}